@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Calibri";
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: white;
  transition: width 0.25s ease-out, left 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  width: 100%;
  left: 0;
}

